
html, body {
  margin: 0;
  height: 100%;
  background: linear-gradient(to right,#46b474,#22b2da);
  font-family: 'Oswald', sans-serif;
}
h1, h2 {
  text-align: center;
}
.flex-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.App {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

form {
  display: flex;
  width: 500px;
  min-height: 40px;
  align-items: center;
  margin-bottom: 20px;
  flex-basis: 100%;
}

[type="text"] {
  display: flex;
  flex-basis: 80%;
}

form button {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-basis: 20%;
}


.item-todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  border: 1px solid #000;
  margin-bottom: 15px;
  background-color: #2014673f;
}
.item-text {
  word-break:break-all;
}
.item-todo .item-delete {
  display: flex;
}
.strike {
  text-decoration: line-through;
}

/* https://goo.su/9j5P function */
/* https://goo.su/adei class */
